*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*导航开始*/
.suheader {
    width: 100%;
    height: 79px;
    margin: 0 auto;
    background: white;
    border-bottom: 1px solid #e2e5e6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.header-content{
    width: 1190px;
    height: 79px;
    margin: 0 auto;
    padding:0 15px;
    box-sizing:border-box;
}
.header-suxin{
    width: 150px;
    height: 79px;
    float: left;
}
.header-suxin img{
    width: 150px;
    height: 50px;
    margin: 20px auto;
}
.header-nav{
    width: 680px;
    height: 79px;
    float: right;
    position: relative;
}
.header-nav-p{
    width: 95px;
    height: 79px;
    color: #000000;
    line-height: 79px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}
p{
    color: #00a5c4;
    width: 86px;
    height: 79px;
    line-height: 79px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}
.item-detail {
    width: 130px;
    height: 0px;
    background: darkred;
    position: absolute;
    right: 100px;
    top: 79px;
    transition: all 0.5s linear;
    z-index: 999;/*定位元素之间的层级关系，z-index用来调整层级*/
}
.header-nav-p:hover .item-detail{
    height: 150px;
}
.header-nav a{
    width: 95px;
    height: 79px;
    color: #000000;
    line-height: 79px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}
.header-nav a:hover{
    color: #00a5c4;
}
/*导航结束*/

/*正文开始*/
.zhengwen{
    width: 100%;
    height: 1230px;
    background: #f2f2f2;
}
.biaoti{
    width: 100%;
    height: 200px;
    /* background: #fd94b5;*/
}
h1{
    width: 300px;
    height: 200px;
    line-height: 280px;
    font-size: 45px;
    color: #F67A82;
    margin: 0 auto;
    font-family: 宋体;
    text-align: center;
}
/*表格开始*/
.biaogez{
    width: 100%;
    height: 1000px;
    margin-top: 50px;
    /*background: #ff9733;*/
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.biaogezuo{
    width: 900px;
    height: 900px;
    background: white;
}
.biaogezuo-b1{
    width: 800px;
    height: 220px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    /*background: #00a5c4;*/
}
.pingjia{
    width: 500px;
    height: 90px;
    margin-top: 40px;
    border: 1px solid #aaaaaa;
    position: absolute;
    top:70px;
    left: 70px;
    background: #e0e0e0;
}
.pingjia p{
    color: #616161;
}
.riqi{
    width: 200px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 5px;
}
.picture{
    width: 50px;
    height: 150px;
    margin-top: 30px;
    float: left;
}
.picture i{
    color: #b0b0b0;
    font-size: 45px;
}
.picture img{
    width: 150px;
    height: 150px;
}
h4{
    width: 300px;
    height: 30px;
    float: left;
    font-family: 新宋体;
    font-size: 20px;
    color: #2a333c;
    margin-left: 20px;
    margin-top: 30px;
    /* background: #33ff33;*/
}
.biaogezuo-b1 span{
    width: 600px;
    height: 30px;
    float: left;
    font-family: 新宋体;
    font-size: 18px;
    color: #76838f;
    margin-left: 20px;
    /*background: #fd94b5;*/
}
.yema{
    width: 900px;
    height: 50px;
    margin-top: 60px;
    /*background: #33ff33;*/
}
.yemaz{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    /*background: #fd94b5;*/
}
.ye{
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
    float: left;
    border-right: none;
    /*background: #00a5c4;*/
}
.xia1 a{
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
    float: right;
    /*background: #00a5c4;*/
}
.xia a{
    width: 46.5px;
    height: 50px;
    float: left;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e4eaec;
    line-height: 50px;
    box-sizing: border-box;
    border-right: none;
}
.ye2{
    width: 46.5px;
    height: 50px;
    float: left;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e4eaec;
    line-height: 50px;
    box-sizing: border-box;
    border-right: none;
    background: #ef3a3b;
}
.biaogeyou{
    width: 400px;
    height: 550px;
    background: white;
    position: relative;
}
.search1{
    width: 300px;
    height: 40px;
    margin:30px auto;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
}
.search2{
     font-size: 18px;
     float: left;
     margin-top: 8px;
     margin-left: 10px;
     color: #b0b0b0;
 }
.search3{
    width: 300px;
    height: 150px;
    margin:30px auto;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
}
.search4{
    width: 110px;
    height: 40px;
    margin:0 auto;
    float: right;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
    background: #f3f7f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search5{
    width: 300px;
    height: 40px;
    margin:1px auto;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
}
.search6{
    width: 300px;
    height: 40px;
    margin:30px auto;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
    background: #62a8ea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search6 span{
    font-size: 18px;
    color: white;
}
/*表格结束*/
/*正文结束*/

/*底部开始*/
.footer{
    width: 100%;
    height: 181px;
    margin: 0px 0 0 0;
    padding-top: 20px;
    box-sizing: border-box;
}
.footer-ft{
    width: 1519px;
    height: 181px;
    margin: 0 auto;
    background: #e2e5e6;
}
.icon{
    width: 1519px;
    height: 56px;
    text-align: center;
    font-size: 25px;
    line-height: 56px;
}
.icon i{
    margin: 0px 8px;
    color: #62a8ea;
    font-size: 36px;
    text-decoration: none;
}
.weixin i{
    margin: 0px 8px;
    color: darkgreen;
    font-size: 36px;
    text-decoration: none;
}
.footer-zi{
    width: 1140px;
    height: 24px;
    margin-left: 600px;
}
.footer-zi a{
    color: #62a8ea;
}
.footer-zi span{
    color: #757575;
}
/*底部结束*/