*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*导航开始*/
.suheader {
    width: 100%;
    height: 79px;
    margin: 0 auto;
    background: white;
    border-bottom: 1px solid #e2e5e6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.header-content{
    width: 1190px;
    height: 79px;
    margin: 0 auto;
    padding:0 15px;
    box-sizing:border-box;
}
.header-suxin{
    width: 150px;
    height: 79px;
    float: left;
}
.header-suxin img{
    width: 150px;
    height: 50px;
    margin: 20px auto;
}
.header-nav{
    width: 680px;
    height: 79px;
    float: right;
}
p{
    color: #00a5c4;
    width: 86px;
    height: 79px;
    line-height: 79px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}
.header-nav a{
    width: 95px;
    height: 79px;
    color: #000000;
    line-height: 79px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    float: left;
}
.header-nav a:hover{
    color: #00a5c4;
}
/*导航结束*/
/*主体部分开始*/
.zhuti{
    width: 100%;
    height: 1120px;
    margin-top: 79px;
    background: #33ff33;
}
.picture{
    width: 50%;
    height: 50%;
    float: left;
    background-image: url("../img/图2.jpg");
    background-size: 100% 100%;
    transition: all 1s;
    position: relative;
}
.picture:hover{
    background-size: 150% 150%;
}
.picture:hover .zhezhao{
    background: rgba(0,0,0,0.7);
}
.picture img{
    width: 100%;
    height: 100%;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.picture-box{
    width: 120px;
    height: 138px;
    z-index: 2;
    position: absolute;
    top: 180px;
    left: 300px;
}
.picture-box span{
    width: 100%;
    height: 30px;
    color: white;
    font-size: 18px;
    line-height: 30px;
    margin: 0 8px;
    text-align: center;
}
.hengxian{
    width: 30px;
    height: 2px;
    background: white;
    margin: 15px auto;
}
h3{
    color: white;
    text-align: center;
}
.btn{
    width: 50px;
    height: 30px;
   margin: 15px 35px;
    color: white;
    background: none;
    border: 1px solid #aaaaaa;
}
.btn:hover{
    background: white;
    color: #aaaaaa;
}
/*主体部分结束*/


/*底部开始*/
.footer{
    width: 100%;
    height: 181px;
    margin: 0px 0 0 0;
    padding-top: 20px;
    box-sizing: border-box;
}
.footer-ft{
    width: 1519px;
    height: 181px;
    margin: 0 auto;
    background: #e2e5e6;
}
.icon{
    width: 1519px;
    height: 56px;
    text-align: center;
    font-size: 25px;
    line-height: 56px;
}
.icon i{
    margin: 0px 8px;
    color: #62a8ea;
    font-size: 36px;
    text-decoration: none;
}
.weixin i{
    margin: 0px 8px;
    color: darkgreen;
    font-size: 36px;
    text-decoration: none;
}
.footer-zi{
    width: 1140px;
    height: 24px;
    margin-left: 600px;
}
.footer-zi a{
    color: #62a8ea;
}
.footer-zi span{
    color: #757575;
}
/*底部结束*/